<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cognichamp.CogniChamp"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:name=".CogniChamp"
        android:allowBackup="true"
        android:icon="@mipmap/cognichamplogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cognichamp.CogniChamp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_black_24dp" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider125804031382567"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".addFamily"
            android:label="AddFamily"
            android:parentActivityName=".NavigationDrawer"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cognichamp.CogniChamp.NavigationDrawer" />
        </activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".YoutubeActivity" />
        <activity android:name=".Registration" />
        <activity
            android:name=".AddHobbyActivityt"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cognichamp.CogniChamp.NavigationDrawer" />
        </activity>
        <activity
            android:name=".AddNewSubject"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cognichamp.CogniChamp.NavigationDrawer" />
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".EditSchoolDetails"
            android:parentActivityName=".NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cognichamp.CogniChamp.NavigationDrawer" />
        </activity>
        <activity android:name=".AddVideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginEmail" />
        <activity android:name=".SignUpChooseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".changePassword"
            android:parentActivityName=".NavigationDrawer" />
        <activity
            android:name=".FullscreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".NavigationDrawer"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cognichamp.CogniChamp.NavigationDrawer" />
        </activity>
    </application>

</manifest>